@import "@/assets/style/default/variables.css";
@import "@/assets/style/default/index.css";
@import "@/assets/style/default/base.css";
@import "@/assets/style/default/mateial-icons.css";
@import "@/assets/style/default/loading.css";
@import "@/assets/style/default/navbar.css";
// 庫點子news與tab頁籤
@import "@/assets/style/default/news.css";
@import "@/assets/style/default/tab.css";
@import "@/assets/style/default/about.css";
@import "@/assets/style/default/reveal.css";